html, body { 
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    overflow: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    display: inline-block;
}

.content{
    position: absolute;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 2;
    align-items: center;
    text-align: center;
}

.content h1{
    font-family: yellowfont;
    font-size: 120px;
    font-weight: 100;
    color: white;
    text-shadow: 3px 3px 3px #000000;
    margin: 0;
    margin-top: 20px;
}

.content h2{
    font-family: yellowfont;
    font-size: 40px;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin: 0;
}

.content h3{
    font-family: letter;
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content p{
    font-family: letter;
    font-size: 34px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin: 5px;
}

#img-cont {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#bg-image {
    transform: scale(1.4) translate(0, 0);
    object-fit: cover;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

#gallery{
    margin: 0 auto;
    width: 100%;
}

#gallery:after {
    content: '';
    display: block;
    clear: both;
}

.item{
    width: calc(25% - 15px);
    margin:0 auto 20px auto;
}

.item--gigante{
    width: calc(50% - 10px);
    margin:0 auto 20px auto;
}

.item:hover{
    cursor: pointer;
    filter: brightness(1.2);
}

#new {
    font-size: 24px;
    transform: translate(0px, -10px);
}

@media (max-width: 800px) {

    .item{
        width: calc(50% - 10px);
        margin:0 auto 20px auto;
    }
    
    .item--gigante{
        width: 100%;
        margin:0 auto 20px auto;
    }

    #bg-image {
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .content{
        position: absolute;
        width: 100%;
        padding: 10px;
    }
}

@font-face {
    font-family: yellowfont;
    src: url("fonts/yellow.otf");
}

@font-face {
    font-family: letter;
    src: url("fonts/letter.ttf");
}